<div id="footer-container">
    <section class="footer" data-backgroundUrl="/img/f3.jpg">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="/#home"> <i class="fas fa-angle-right"></i> home</a>
                <a href="#"> <i class="fas fa-angle-right"></i> Assigned Reviews</a>
                <a href="#"> <i class="fas fa-angle-right"></i> Link2</a>
                <a href="#"> <i class="fas fa-angle-right"></i> Link3</a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-angle-right"></i> ask questions</a>
                <a href="#"> <i class="fas fa-angle-right"></i> about us</a>
                <a href="#"> <i class="fas fa-angle-right"></i> privacy policy</a>
                <a href="#"> <i class="fas fa-angle-right"></i> terms of use</a>
            </div>

            <div class="box">
                <h3 id="contact-us">contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> 7906660684 </a>
                <a href="#"> <i class="fas fa-phone"></i> 9412165680</a>
                <a id="my-email" href="#"> <i class="fas fa-envelope"></i>bhaveshrathour4@gmail.com </a>
                <a href="#"> <i class="fas fa-map"></i> Nainital, india - 263001 </a>
            </div>

            <div class="box">
                <h3>follow us</h3>
                <a href="https://www.facebook.com/bhavesh.rathour.1"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="https://instagram.com/__mr.codex___?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"> <i
                        class="fab fa-instagram"></i> instagram </a>
                <a href="https://www.linkedin.com/in/rathour2bhawesh"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href=""> <i class="fab fa-twitter"></i> twitter </a>

            </div>

        </div>

        <div class="credit">
            <div>
                <span>My</span> Product | all rights reserved!
            </div>
        </div>
    </section>

</div>

<script src="/js/_footer.js"></script>